.footer {
    position: relative;
    z-index: 1;
    padding: 44px 0;
    @include mmd{
        padding: 40px 0;
    }
    @include sm{
        padding: 30px 0;
    }
    & .footer__content__area {
        & .footer__logo{
            margin-bottom: 28px;
            display: inline-block;
           & img{
                max-width: 261px;
            }
        }
        
        & p{
            @include font-22;
            font-weight: 400;
        }
        .copy__right{
            font-weight: 600;
            display: inline-block;
            margin-top: 11px;
        }
        & .social__media{
            margin-top: 32px;
            margin-bottom: 45px;
            @include sm{
                margin-bottom: 20px;
            }
        }
    }
    & .footer_left_star{
        position: absolute;
        left: 0px;
        bottom: -10px;
        max-width: 120px;
        z-index: -1;
        animation: zoom-in-out 3s ease-in-out infinite;
    }
    & .footer_right_star{
        position: absolute;
        right: 0px;
        bottom: 40px;
        max-width: 120px;
        z-index: -1;
        animation: zoom-in-out 4s ease-in-out infinite;
    }
}
.footer-wrapper{
    position: relative;
}

/* Footer css */